streamlit==1.44.1
python-dotenv==1.1.0
langchain==0.3.24
langchain-core==0.3.56
langchain-openai==0.2.14
langgraph==0.3.34
langgraph-checkpoint==2.0.24
langgraph-prebuilt==0.1.8
langchain-tavily==0.1.5
langchain-experimental==0.3.4
langchain-community==0.3.22
openai==1.76.0